{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
		{{ title }} - Products{% else %}Reaktor Warehouse - Products
	{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<div class="container-fluid">
			<!-- Brand -->
			{% if title %}
				<span class="navbar-brand"><b>{{ title }}</b></span>
			{% else %}
				<span class="navbar-brand"><b>Reaktor Warehouse</b></span>
			{% endif %}
			
			<!-- Buttons -->
			<ul class="nav nav-tabs">
				<li role="presentation" {% if category == 'Gloves' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Gloves') }}">Gloves</a></li>
				<li role="presentation" {% if category == 'Facemasks' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Facemasks') }}">Facemasks</a></li>
				<li role="presentation" {% if category == 'Beanies' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Beanies') }}">Beanies</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<!-- Get tasks -->
		{% if tasks %}
			{% for task in tasks %}
				<div class="alert alert-success" role="alert">
					{{ task.description }}
					<span id="{{ task.id }}-progress">{{ task.get_progress()}}</span>%
				</div>
			{% endfor %}
		{% endif %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}