{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
		{{ title }} - Products{% else %}Reaktor Warehouse - Products
	{% endif %}
{% endblock %}

{% block navbar %}
	<style>
		.bg-white {
			background-color: #fff;
		}
	</style>
	<nav class="navbar navbar-expand-sm bg-white navbar-dark navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand -->
			{% if title %}
				<span class="navbar-brand"><b>{{ title }}</b></span>
			{% else %}
				<span class="navbar-brand"><b>Reaktor Warehouse</b></span>
			{% endif %}
			
			<!-- Category tabs -->
			<ul class="nav nav-tabs">
				<li role="presentation" {% if category == 'Gloves' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Gloves') }}">Gloves</a></li>
				<li role="presentation" {% if category == 'Facemasks' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Facemasks') }}">Facemasks</a></li>
				<li role="presentation" {% if category == 'Beanies' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Beanies') }}">Beanies</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		{% if tasks %}
			<div class="alert alert-success" role="alert">
				{{ tasks.description }}
				<span id="{{ tasks.id }}-progress">{{ tasks.get_progress()}}</span>%
			</div>
		{% endif %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		$(function(){
			var test = 50;
			$.ajax({
				url: '{{ url_for('main.ajax') }}',
				data: JSON.stringify(data),
				type: 'POST',
				success: function (response) {
					console.log(response);
				},
				error: function (error) {
					console.log("ERROR");
					console.log(error);
				},
				dataType: "json",
				contentType: 'application/json;charset=UTF-8',
			});
		});
	</script>
{% endblock %}