{% extends 'bootstrap/base.html' %}

{% block head %}
	{{ super() }}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
	{% if title %}
		{{ title }} - Products{% else %}Reaktor Warehouse - Products
	{% endif %}
{% endblock %}

{% block navbar %}
	<style>
		.bg-white {
			background-color: #fff;
		}
	</style>
	<nav class="navbar navbar-expand-sm bg-white navbar-dark navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand -->
			{% if title %}
				<span class="navbar-brand"><b>{{ title }}</b></span>
			{% else %}
				<span class="navbar-brand"><b>Reaktor Warehouse</b></span>
			{% endif %}
			
			<!-- Category tabs -->
			<ul class="nav nav-tabs">
				<li role="presentation" {% if category == 'Gloves' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Gloves') }}">Gloves</a></li>
				<li role="presentation" {% if category == 'Facemasks' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Facemasks') }}">Facemasks</a></li>
				<li role="presentation" {% if category == 'Beanies' %} class="active"{% endif %}><a href="{{ url_for('main.switch_category', category='Beanies') }}">Beanies</a></li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		{% if tasks or recreate == True %}
			<div class="alert alert-success" role="alert">
				{% if tasks %}
				{{ tasks.description }}
				<span id="{{ tasks.id }}-progress">{{ tasks.get_progress()}}</span>%
				{% endif %}
				{% if tasks and recreate == True %}
				&nbsp&nbsp&nbsp - &nbsp&nbsp&nbsp
				{% endif %}
				{% if recreate == True %}
				<span id="recreate">New data on API, <a href="{{ url_for('main.recreate') }}">update?</a></span>
				{% endif %}
			</div>
			<div id="new_items" class="aler alert-success" role="alert" style='display:none;'>
				<span id="recreate">New data on API, <a href="{{ url_for('main.recreate') }}">update?</a></span>
			</div>
		{% endif %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		$(function(){
			setInterval(function() {
				$.ajax({
					url: '{{ url_for('main.progress') }}',
					success: function(response) {
						if (response.refresh == true){
							location.reload()
						}
						set_task_progress(response.id, response.data)
						toggleAlert(response.recreate)
					}
				});
			},5000);
		});
		
		function set_task_progress(task_id, progress) {
			$('#' + task_id + '-progress').text(progress);
		}
		
		function toggleAlert(recreate){
			if (recreate == true){
				$("#new_items").show();
			}else{
				$("#new_items").hide();
			}
			
		}
	</script>
{% endblock %}