{% extends "base.html" %}

{% block app_content %}
	<style>
		body {
			padding-top: 50px;
		}
		table.floatThead-table {
			border-top: none;
			border-bottom: none;
			background-color: #fff;
		}
		th {
			position: sticky;
			top: 50px;
			background: white;
		}
	</style>
	<table class="table table-bordered table-hover sticky-header">
		<thead class="thead-light">
			<tr>
				<th>Product - {{ category }}</th>
				<th>Manufacturer</th>
				<th>In Stock</th>
			</tr>
		</thead>
		<tbody>
		{% for product in products %}
			<tr>
				{% include '_product.html' %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function(){
			$(".sticky-header").floatThead({top:50});
		});
	</script>
{% endblock %}